@CHARSET "UTF-8";

label.valid, span.valid {
  width: 24px;
  height: 24px;
  background: url(../img/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
  font-size:12px;
}
label.error, span.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
	font-size:12px;
}