div.tgn {
  background-position: 0px 0px;
  width: 96px; }

.tgn:hover {
  background-position: 0px -24px; }

.spreadshirt {
  background-position: -96px 0px; }

.spreadshirt:hover {
  background-position: -96px -24px; }

.facebook {
  background-position: -120px 0px; }

.facebook:hover {
  background-position: -120px -24px; }

.youtube {
  background-position: -144px 0px; }

.youtube:hover {
  background-position: -144px -24px; }

.twitter {
  background-position: -168px 0px; }

.twitter:hover {
  background-position: -168px -24px; }

.steam {
  background-position: -192px 0px; }

.steam:hover {
  background-position: -192px -24px; }

.community_member {
  background-position: 0px 0px;
  color: #1e88c9; }

.competitive {
  background-position: -20px 0px;
  color: #a4a4a1; }

.dotacinema {
  background-position: -40px 0px;
  color: #37bee8; }

.editorial {
  background-position: -60px 0px;
  color: #9c544a; }

.educational {
  background-position: -80px 0px;
  color: #9d554b; }

.featured {
  background-position: -100px 0px;
  color: #c0892c; }

.funny {
  background-position: -120px 0px;
  color: #6863ac; }

.general {
  background-position: -140px 0px;
  color: white; }

.gossip {
  background-position: -160px 0px;
  color: #807a5a; }

.interview {
  background-position: -180px 0px;
  color: #6b8eca; }

.patch {
  background-position: -200px 0px;
  color: #da9253; }

.proffessional {
  background-position: -220px 0px;
  color: #139353; }

.pro-player {
  background-position: -220px 0px;
  color: #139353; }

.shoutcaster {
  background-position: -240px 0px;
  color: #cd4828; }

.tournament {
  background-position: -260px 0px; }

.post_cat.tournament {
  color: #b2af34; }

.workshop {
  background-position: -280px 0px;
  color: #cf283a; }

.messages {
  background-position: -300px 0px; }

.notifications {
  background-position: -320px 0px; }

.arrow-right-default {
  background-position: -80px 0px; }

.arrow-right-double {
  background-position: -80px -20px; }

.arrow-right-blue {
  background-position: -40px 0px; }

.arrow-down {
  background-position: 0px -100px; }

.arrow-down-bold {
  background-position: -20px 0px; }

.status-online {
  background-position: -40px -20px; }

.status-online-large {
  background-position: -100px 0px; }

.status-offline-large {
  background-position: -100px 0px; }

.cat_icon_container {
  background-position: -124px -1px; }

.ui_icon.versus {
  background-position: -20px -40px;
  width: 40px; }

.ui_icon.comment_bubble {
  width: 27px;
  height: 22px;
  background-position: -0px -20px; }

.ui_icon.question_mark {
  width: 24px;
  height: 24px;
  background-position: 0px -60px; }

.ui_icon.play_video {
  width: 24px;
  height: 24px;
  background-position: -23px -60px; }

.ui_icon.text {
  width: 24px;
  height: 24px;
  background-position: -46px -60px; }

.ui_icon.vod_reset {
  width: 20px;
  height: 20px;
  background-position: -80px -80px; }

#resetfilters:hover .ui_icon.vod_reset {
  width: 20px;
  height: 20px;
  background-position: -80px -80px; }

.ui_icon.vod_reset:hover {
  width: 20px;
  height: 20px;
  background-position: -80px -80px; }

.ui_icon.fav_off {
  width: 20px;
  height: 20px;
  background-position: -100px -60px; }

.ui_icon.fav_on {
  width: 20px;
  height: 20px;
  background-position: -100px -80px; }

.ui_icon.spoiler_off {
  width: 20px;
  height: 20px;
  background-position: -120px -60px; }

.ui_icon.spoiler_on {
  width: 20px;
  height: 20px;
  background-position: -120px -80px; }

.ui_icon.share {
  width: 20px;
  height: 20px;
  background-position: -140px -60px; }

.ui_icon.share:hover {
  width: 20px;
  height: 20px;
  background-position: -140px -80px; }

.ui_icon.report {
  background-position: -20px -100px; }

.ui_icon.confirmed {
  background-position: -40px -100px; }

.ui_icon.cross {
  background-position: -60px -100px; }

.ui_icon.full_screen {
  background-position: -80px -100px; }

.ui_icon.chat_icon {
  background-position: -100px -100px; }

.ui_icon.cpanel {
  background-position: -0px -120px; }

.ui_icon.watch_vod {
  background-position: -20px -120px; }

.ui_icon.bracket_result_spoiler {
  background-position: -120px -104px; }

.ui_icon.bracket_match_spoiler {
  background-position: -40px -120px; }

.ui_icon.silenced {
  background-position: -160px -0px;
  height: 30px; }

.ui_icon.popout {
  background-position: -160px -40px; }

.ui_icon.hook {
  background-position: -160px -60px; }

.heroes_ui.radiant {
  background-position: 0px 0px; }

.heroes_ui.dire {
  background-position: 0px -44px; }

.heroes_ui.radiant-small {
  background-position: 0px -88px;
  width: 24px;
  height: 24px; }

.heroes_ui.dire-small {
  background-position: 0px -112px;
  width: 24px;
  height: 20px; }

.heroes_ui.strength-primary {
  background-position: 0px -132px; }

.heroes_ui.agility-primary {
  background-position: 0px -176px; }

.heroes_ui.intelligence-primary {
  background-position: 0px -220px; }

.heroes_ui.strength {
  background-position: 0px -264px; }

.heroes_ui.agility {
  background-position: 0px -308px; }

.heroes_ui.intelligence {
  background-position: 0px -352px; }

.heroes_ui.attack {
  background-position: 0px -396px; }

.heroes_ui.armor {
  background-position: 0px -440px; }

.heroes_ui.speed {
  background-position: 0px -484px; }

.heroes_ui.mana_cost {
  background-position: 0px -528px;
  height: 16px;
  width: 16px; }

.heroes_ui.cooldown {
  background-position: 0px -544px;
  height: 16px;
  width: 16px; }

.heroes_ui.bkb_full {
  background-position: 0px -560px;
  height: 16px;
  width: 16px; }

.heroes_ui.bkb_half {
  background-position: 0px -576px;
  height: 16px;
  width: 16px; }

.heroes_ui.linkens_full {
  background-position: 0px -592px;
  height: 16px;
  width: 16px; }

.heroes_ui.linkens_empty {
  background-position: 0px -608px;
  height: 16px;
  width: 16px; }

.heroes_ui.aghanims_full {
  background-position: 0px -624px;
  height: 16px;
  width: 16px; }

.heroes_ui.linkens_half {
  background-position: 0px -528px;
  height: 16px;
  width: 16px; }

.heroes_ui.bkb_empty {
  background-position: 0px -528px;
  height: 16px;
  width: 16px; }

.vod_icon.spoiler_image {
  background-position: -50px 0px; }

.chat_emoticon.dotacinema {
  background-position: 0px 0px; }

.chat_emoticon.toasty {
  background-position: -22px 0px; }

.chat_emoticon.synderwin {
  background-position: -44px 0px; }

.chat_emoticon.thisisnottwitch {
  background-position: -66px 0px; }

.chat_emoticon.multiply {
  background-position: -88px 0px; }

.chat_emoticon.tako {
  background-position: -112px 0px; }

.chat_emoticon.worm {
  background-position: -132px -0px; }

.chat_emoticon.navi {
  background-position: -0px -22px; }

.chat_emoticon.alliance {
  background-position: -22px -22px; }

.chat_emoticon.fnatic {
  background-position: -44px -22px; }

.chat_emoticon.sigma {
  background-position: -66px -22px; }

.chat_emoticon.tl {
  background-position: -88px -22px; }

.chat_emoticon.rox {
  background-position: -112px -22px; }
