.match_team_header{
	text-transform:uppercase; 
	line-height:30px; 
	margin-bottom:5px; 
	border-bottom: 1px #aaa solid; 
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

#match_middle_area{
	margin:10px 0px;
}

#match_cancel_button{
	margin: 10px 0 0 0;
}

.highlight{
	background-color: #D9EDF7;
}

.highlight_leaver{
	background-color: #fcf8e3;
}

.highlight_host{
	background-color: #dff0d8;
}

.bSBox{
	width:180px;
	margin: 0 10px 10px 0;
	display:inline-block;
}
.bSIcon{
	height:159px;
	
}
.bSValue{
	position:relative;
	top: 115px;
	margin:auto;
	width:150px;
	font-size: 24px;
	color: #FFF;
}
.bSTitle{
	background-color: #E0E0E0;
	height:20px;
	font-weight: bold;
	text-transform: capitalize;
	color: #3C3C3C;
	padding:0px;
}
.bSPlayers{
	text-align: center;
	font-weight: bold;
}
.bSPlayersBox{
	background-image: url(img/match/replay/bgPlayers.png); 
	background-repeat: no-repeat;
	padding:5px;
}